3to2==1.1.1
alembic==1.0.7
APScheduler==3.6.0
astroid==2.1.0
autopep8==1.4.3
certifi==2018.11.29
chardet==3.0.4
Click==7.0
colorama==0.4.1
CurrencyConverter==0.13.9
cycler==0.10.0
defusedxml==0.6.0
Django==2.1.7
djangorestframework==3.9.4
et-xmlfile==1.0.1
Flask==1.0.2
Flask-Migrate==2.3.1
Flask-SQLAlchemy==2.3.2
gunicorn==19.9.0
html-testRunner==1.1.2
idna==2.8
isort==4.3.4
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.10
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
Mako==1.0.7
MarkupSafe==1.1.0
matplotlib==3.0.3
mccabe==0.6.1
numpy==1.16.1
oauthlib==3.0.1
openpyxl==2.6.2
pandas==0.24.1
Pillow==6.0.0
pipenv==2018.11.26
pycodestyle==2.5.0
PyJWT==1.7.1
pylint==2.2.2
pyparsing==2.4.0
python-dateutil==2.8.0
python-editor==1.0.4
python3-openid==3.1.0
pytz==2018.9
requests==2.22.0
requests-oauthlib==1.2.0
rope==0.14.0
schedule==0.6.0
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
six==1.12.0
sklearn==0.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
SQLAlchemy==1.2.16
tzlocal==1.5.1
urllib3==1.25.8
username-generator==2.0.0
virtualenv==16.4.0
virtualenv-clone==0.5.1
Werkzeug==0.14.1
whitenoise==4.1.2
wrapt==1.11.1
xlrd==1.2.0
