{% extends 'base.html' %}

{% block content %}
<h2>Login</h2>
<form action="{%url 'movies:validate_login' %} " method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
        <small style="color: rgb(22, 13, 13)">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
    </p>
    {% endfor %}
    <button type="submit">Login</button>
</form>
<br>
<p><strong>-- OR --</strong></p>
<a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>

{% endblock %}